<p style="font-style: italic;color:#808080; font-size: 20px">Hola <a href="#" style="color:#808080; text-decoration:none " >{{guess_mail}} </a>, </p>

<p>
<a href="mailto:{{guess_mail}}" style="color:#808080; text-decoration:none "  > {{owner_mail}} </a>
    te acaba de invitar a Vualá como aprobador de la empresa {{company}} 
    de la política <strong>{{policy_name}}</strong>.  
</p>

<p>Vualá te ayuda a mejorar la rentabilidad de las empresas mediante una administración 
fácil de gastos de viáticos. <br><br>Como aprobador podrás ver cumplimiento con las políticas, 
apobar o rechazar los reportes de viáticos, y descargar todos los documentos (XML, PDF, fotos, reportes).
</p>

<p>Bienvenid@ a una organización más eficiente.</p>
