<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400">
    <title>Vuala - {{from}} te invita.</title>

    <style type="text/css">
        .center-block{
            display:block;
            margin-right:auto;
            margin-left:auto;
        }
        p{
            color:#616161;
            padding-left:15px;
            padding-right:15px;
            text-align:justify;
        }
        hr{
            color:#40B0DF;
            border-color:#40B0DF;
            text-decoration:none;
            border-style:outset;
            border-bottom:none;
        }
    </style></head>
<body>

<table style="font-family:sans-serif;">
    <tr>
        <th align="left" style="background-color:#40B0DF;border-radius:5px;">
            <br>
            <a href="http://vuala.io">
                <img alt="Vuala" class="center-block" src="http://res.cloudinary.com/holavuala/image/upload/v1488241217/assets/logo-inverse.png" width="150" height="40">
            </a>
            <h5 style="color:#FFFFFF;text-align:center;">El App para Manejar tus Gastos.</h5>

        </th>
    </tr>
    <tr>
        <td style="background-color:#f4f4f4;border-radius:5px;">
            <div>
                <p>¡Estimado, <strong>{{ to }}</strong>!</p>
                <p>
                    <strong>{{ from }}</strong>, te ha invitado a unite a Vuala como administrador de la empresa {{ company }}, un app pensada y diseñada para que puedas administrar tus gastos de manera fácil y rápida.</p>
                <div>
                    <img src="http://app.vuala.io/assets/common/img/gastos.svg" width="200" class="center-block" alt="gastos.svg">
                </div>
                <div align="center">
                    <a class="cta cta-default all-caps" href="http://vuala.io/" style="background:#40B0DF;border-radius:5px;color:#fff;display:inline-block;font-size:18px;margin-top:20px;padding:8px 22px;text-decoration:none;font-weight:bolder;">Ir a Vuala</a>
                </div>
            </div>
            <br>
            <br>
        </td>
    </tr>
    <tr>
            <td>
                <div style="text-align: center;padding-top:40px">
                    <a href="http://vuala.io">
                        <img alt="Vuala"  src="http://res.cloudinary.com/holavuala/image/upload/v1488241217/assets/logo.png" width="150" height="40">
                    </a>
                    <hr style="color:#e9e9e9; border: solid 1px; width:80%; text-align:center">

                    <p style="text-align: center;font-size:12px">El App para manejar tus gastos.</p>
                    
                    <a href="https://play.google.com/store/apps/details?id=com.builder.vuala" style="text-align:center" target="_blank">
                        <img alt="Vualal Google Play" src="http://d9hhrg4mnvzow.cloudfront.net/conoce.vuala.io/control-de-viaticos/a3c9e38a-googleplay_045018044018000000.png" style="width:150px;" >
                    </a>


                    <a href="https://itunes.apple.com/mx/app/vual%C3%A1-controla-tus-vi%C3%A1ticos/id1179591939?mt=8" style="text-align:center;margin-left:10px" target="_blank">
                        <img alt="Vualal App Store" src="http://d9hhrg4mnvzow.cloudfront.net/conoce.vuala.io/control-de-viaticos/788b1f96-appstore_045018044018000000.png" style="width:150px;" >
                    </a>

                    <p style="text-align: center;font-size:12px">Copyright Vuala {{year}} |    Todos los Derechos Reservados.</p>
                </div>
            </td>
        </tr>
</table>
</body>
</html>
